@model IEnumerable<Day8.Models.Hotel>

@{
    ViewBag.Title = "HotelIndex";
    Layout = "~/Views/Shared/_LayoutAdminpanel.cshtml";
}


    <h2>HotelIndex</h2>

    <p>
        @Html.ActionLink("Create New", "HotelCreate")
    </p>
    <table class="table tab-content table-bordered table-hover table-success table-responsive-md table-responsive-lg table-responsive-sm table-responsive-xl">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelDescrotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelAveragePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelLocation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelDescrotion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelAveragePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelRating)
                </td>
                <td>
                    <iframe src="@item.HotelLocation" style="width:100%; border:0;" height="120" frameborder="0" allowfullscreen=""></iframe>
                   
                </td>
                <td>
                    @Html.ActionLink("Edit", "HotelEdit", new { id = item.HotelID }) |
                    @Html.ActionLink("Details", "HotelDetails", new { id = item.HotelID }) |
                    @Html.ActionLink("Delete", "HotelDelete", new { id = item.HotelID })

                   
                </td>
            </tr>
        }

    </table>
