@model Day8.Models.RoomType

@{
    ViewBag.Title = "Room_Type_Details";
    Layout = "~/Views/Shared/_LayoutAdminpanel.cshtml";
}

<h2>Room_Type_Details</h2>

<div>
    <h4>RoomType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.HotelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Room_Type_Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Room_Type_Index")
</p>
