@model IEnumerable<Day8.Models.Room_Images>

@{
    ViewBag.Title = "Room_Images_Index";
    Layout = "~/Views/Shared/_LayoutAdminpanel.cshtml";
}

<h2>Room_Images_Index</h2>

<p>
    @Html.ActionLink("Create New", "Room_Images_Create")
</p>
<table class="table tab-content table-bordered table-hover table-success table-responsive-md table-responsive-lg table-responsive-sm table-responsive-xl">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomType.Name)
        </td>
        <td>
          <img src="~/Content/images/@item.Name" width="200px" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Room_Images_Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Room_Images_Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Room_Images_Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
